.gen-carousel-movies-style-3 .gen-movie-contain .gen-info-contain {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.gen-carousel-movies-style-3 .gen-movie-contain .gen-movie-img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}



.gen-carousel-movies-style-2 .gen-movie-contain .gen-movie-img {
    border-radius: 10px;
}
.owl-next:hover, .owl-prev:hover {
    background-color: transparent !important;
}

.owl-dot span{
    display: none !important;
}
